*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9967a;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


.grid-container {
    width: 500px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-grow: 1;
}

.grid-column {
    border: 1px solid #000;
    flex-grow: 1;
}